name: "University"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: ${{ secrets.NODE_ENV }}
      PORT: ${{ secrets.PORT }}
      FRONTEND_URL: ${{ secrets.FRONTEND_URL }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      SECURE_TOKEN_SECRET: ${{ secrets.SECURE_TOKEN_SECRET }}
      CSRF_TOKEN_SECRET: ${{ secrets.CSRF_TOKEN_SECRET }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install

      - name: Type Checking
        run: npm run type

      - name: Linting
        run: npm run lint

      - name: Run test
        run: npm run test

  docker:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Container
        run: docker build -t app:latest .
